* {
  border: 0;
  margin: 0;
  padding: 0;
}

/*-------------------------------


      Fonts


--------------------------------*/

@font-face {
  font-family: 'amster-1';
  src: url('fonts/amster-1.ttf');
}

@font-face {
  font-family: 'amster-4';
  src: url('fonts/amster-4.ttf');
}

@font-face {
  font-family: 'opificio';
  src: url('fonts/opificio.ttf');
}

@font-face {
  font-family: 'optibank-gothic';
  src: url('fonts/optibank-gothic.otf');
}


/*----------------------------------


      Universal Styling


-----------------------------------*/

body {
  background: #161717 url("../images/celestial-hands-notext-background.png") repeat-y fixed center;
  color: #161717;
  font: normal 16px/1.5 'mr-eaves-xl-modern', 'opificio', sans-serif;

}

div {
  background: #ffffffc7;
  border: 5px solid #a8a096;
  padding: 10px 20px;
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.large {
  width: 80%;
  object-fit: contain;
}

.medium {
  height: 250px;
  width: auto;
  object-fit: contain;
}

.small {
  height: 50px;
  object-fit: cover;
  width: 50px;
}

.logo {
  width: 250px;
}

.align-center {
  display: block;
  margin: 0 auto;
}
/*----------------------------------


      Header Styling


-----------------------------------*/

header {
  background: #d7bcb7;
  padding: 15px 25px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header img {
  position: absolute;
}
nav ul {
  list-style-type: none;
  text-decoration: none;
}

.main-menu {
  position: relative;
  text-align: center;
  border: none;
}

.main-menu ul li {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  text-transform: uppercase;
  color: #6d615d;
}

.top-right-menu {
  min-width: 200px;
  position: fixed;
  right: 10px;
  top: 15px;
  border: none;
}

.top-right-menu ul li {
  display: inline-block;
  margin: 10px;
}

/*----------------------------------


      Home Page Styling


-----------------------------------*/
.first {
  position: relative;
  top: 120px;
  width: 100%;
}

.main {
  margin: 0 auto;
  position: relative;
  top: 140px;
  width: 900px;
}

aside {
  background: #ffffffc7;
  border: 5px solid #a8a096;
  float: left;
  height: 660px;
  padding: 100px 10px 10px;
  text-align: center;
  width: 15%;
}

.sidebar .logo {
  width: 80%;
}

.sidebar img {
  display: block;
  margin: 0 auto;
}

.business-overview {
  float: right;
  height: 750px;
  overflow: scroll;
  width: 75%;
}

.testamonials {
    top: 940px;
    position: relative;
}
