* {
  border: 0;
  margin: 0;
  padding: 0;
}

/*-------------------------------


      Fonts


--------------------------------*/

@font-face {
  font-family: 'amster-1';
  src: url('../fonts/amster-1.ttf');
}

@font-face {
  font-family: 'amster-4';
  src: url('../fonts/amster-4.ttf');
}

@font-face {
  font-family: 'mr-dehaviland-reg';
  src: url('../fonts/mr-dehaviland-reg.ttf');
}

@font-face {
  font-family: 'opificio';
  src: url('../fonts/opificio.ttf');
}

@font-face {
  font-family: 'optibank-gothic';
  src: url('../fonts/optibank-gothic.otf');
}


/*----------------------------------


      Universal Styling


-----------------------------------*/

body {
  background: #161717;
  color: #161717;
  font: normal 16px/1.5 'mr-eaves-xl-modern', 'opificio', sans-serif;
}

div {
  background: #fffffff2 url(../images/celestial-hands-notext-background.png) repeat fixed center;
  border: 5px solid #a8a096;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  width: 80%;
}

.large {
  width: 80%;
  object-fit: contain;
}

.medium {
  height: 250px;
  width: auto;
  object-fit: contain;
}

.small {
  height: 50px;
  object-fit: cover;
  width: 50px;
}

.logo {
  width: 250px;
}

.align-center {
  display: block;
  margin: 0 auto;
}
/*----------------------------------


      Header Styling


-----------------------------------*/

header {
  background: #d7bcb7;
  padding: 15px 25px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header img {
  position: absolute;
}
nav ul li a{
  list-style-type: none;
  text-decoration: none;
}

.main-menu {
  position: relative;
  text-align: center;
  border: none;
}

.main-menu ul li {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  text-transform: uppercase;
  color: #6d615d;
}

.top-right-menu {
  min-width: 200px;
  position: fixed;
  right: 10px;
  top: 15px;
  border: none;
}

.top-right-menu ul li {
  display: inline-block;
  margin: 10px;
}

/*----------------------------------


      Home Page Styling


-----------------------------------*/
.first {
  position: relative;
  top: 130px;
  width: 100%;
}

.first article {
  background: #ffffffc7;
  border-radius: 5px;
  padding: 5px;
}

.main {
  margin: 0 auto;
  position: relative;
  top: 145px;
  width: 84.5%;
  min-width: 875px;
}

.no-border {
  border: none;
  background: none;
  width: 100%;
  height: 780px;
  padding: 0;
}

aside {
  background: #fffffff2 url(../images/celestial-hands-notext-background.png) repeat fixed center;
  border: 5px solid #a8a096;
  float: left;
  height: 750px;
  padding: 10px;
  text-align: center;
  width: 15%;
}

aside img {
  padding: 40px 0 5px;
}

.sidebar .logo {
  padding: 25px 0;
  width: 100%;
}

.sidebar img {
  display: block;
  margin: 0 auto;
}

.sidebar-links {
  background: #ffffffc7;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

.sip-shop {
  font: normal 16px/1.5 'mr-dehaviland-reg', 'opificio', serif;
}

.boutique {
  font: normal 14px/1.5 'montserrat', sans-serif;
}

.rf {
  font: normal 14px/1.5 'optibank-gothic', sans-serif;
}

.colorstreet {
  font: normal 14px/1.5 'opificio', sans-serif;
}

.robin-nest {
  font: normal 14px/1.5 'amster-4', cursive;
}

.business-overview {
  float: right;
  height: 750px;
  overflow: scroll;
  width: 75%;
}

.overview {
  background: #ffffffc7;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

.overview .small {
  float: left;
  padding: 10px 15px;
}

.overview p {
  padding-bottom: 10px;
}

.testamonials {
  top: 160px;
  position: relative;
  clear: both;
}

.testamonials img {
  display: block;
  margin: 0 auto;
}

.testamonials div {
  clear: both;
}

.testamonial-2 {
  margin: 15px auto;
}

.description,
.quote {
  border: none;
  background: #ffffffc7;
  border-radius: 5px;
  padding: 5px;
}

.form {
  text-align: center;
  top: 175px;
}

.form h2 {
  background: #ffffffc7;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

footer {
  background: #d7bcb7;
}
